<% # this will generate an action= /tweets/:id/comments %>
<%= form_with model: [commentable , comment] , id: dom_id_for_records(commentable , comment) do |form|%> 
    <%= render partial: "shared/error_messages" , locals: {form: form} %>
    <%= form.label :body , class: "form-label" %>
    <%= form.rich_text_area :body %>
    <div class = "my-3">
        <%= form.submit class: "btn btn-primary" %>
    </div>
<%end%>