<% # this will generate an action= /tweets/:id/comments %>
<% model =[local_assigns[:commentable], comment].compact %>
<%= form_with model: model , id: dom_id_for_records(*model ) do |form|%> 
    <%= render partial: "shared/error_messages" , locals: {form: form} %>
    <%= form.rich_text_area :body %>
    <div class = "my-3">
        <%= form.submit class: "btn btn-primary" %>
        <%= link_to "Cancel" , comment, class: "btn btn-link" if form.object.persisted? %>
    </div>
<%end%>