<%= turbo_frame_tag dom_id(tweet) do %>
  <div class="card mb-2 shadow-sm border-light position-relative">
    <%= link_to "", tweet_path(tweet), data: { turbo_frame: "_top" }, class: "stretched-link" %>
    <div class="card-body p-3">
      <div class="mb-2">
        <span class="fw-bold"><%= tweet.user.email %></span>
        <small class="text-muted">· <%= time_ago_in_words(tweet.created_at) %> ago</small>
      </div>

      <p class="card-text mb-3"><%= tweet.body %></p>
      
      <div class="d-flex align-items-center justify-content-between position-relative" style="z-index: 2;">
        <div class="d-flex gap-2">
          <%= button_to "Likes (#{tweet.likes})", tweet_likes_path(tweet), disabled: current_user_id.nil?, class: "btn btn-sm btn-outline-primary rounded-pill" %>
          <%= button_to "Retweets (#{tweet.retweets})", tweet_retweets_path(tweet), disabled: current_user_id.nil?, class: "btn btn-sm btn-outline-primary rounded-pill" %>
        </div>


        <% if !current_user_id.nil? && tweet.user_id == current_user_id %>
          <div class="d-flex gap-2">
            <%= link_to "Edit", edit_tweet_path(tweet), class: "btn btn-sm btn-outline-secondary" %>
            <%= button_to "Delete", tweet, method: :delete, 
                class: "btn btn-sm btn-outline-danger", 
                data: { turbo_confirm: "Are you sure?" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>